<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="\css\creation-edition.css" />
    <link rel="stylesheet" href="\css\home.css" />
  </head>

  <body>
    <%- include('../partials/header.ejs') %>
    <main>
      <center>
      
      <div class="form-container">
        <form
          action="/products/edit/<%= product.id %>?_method=PUT"
          method="POST"
          enctype="multipart/form-data">
        
      <div class="register-container">
        
        <h1 class="register-title">Edición del articulo #<%=product.id%></h1>
          <div class="data-container">

            <div class="article-data ">
              <h3>Datos del producto</h3>
            </div>

            <div class="properties-label">
              <label>Nombre del articulo</label>
              <input
                  value="<%=product.name%>"
                  type="text"
                  class="input-name"
                  id="name"
                  name="name"
                  required
                />
            </div>

            <div class="properties-label">
              <label>Descripcion</label>
              <input
                value="<%= product.description %>"
                type="text"
                class="input-general"
                id="description"
                name="description"
                required
              />
            </div>

            <div class="properties-label">
              <label>Año</label>
              <input
                value="<%=product.year%>"
                type="text"
                class="input-general"
                id="year"
                name="year"
                required
              />
            </div>

            <div class="properties-label" >
              <label>Categoría</label>
              <select
                  type="text"
                  class="input-general"
                  id="category"
                  name="category"
                  required
                >
                <% for (let i = 0; i < categories.length; i++) { %>
                  <% if (categories[i].id == product.category_id) { %> 
                      <option value="<%= categories[i].id %>" selected> 
                          <%= categories[i].name %>
                      </option>
                  <% } else { %> 
                      <option value="<%= categories[i].id %> "> 
                          <%= categories[i].name %>
                      </option>
                  <% } %> 
                <% }  %>
              </select>
            </div>

            <div class="properties-label">
              <label>Talla</label>
              <input
                value="<%= product.size%>"
                type="text"
                class="input-general"
                id="size"
                name="size" 
                required
              />
              
            </div>
            
            <div class="properties-label">
              <label>Precio</label>
              <input
                value="$<%= product.price %>"
                type="text"
                class="input-general"
                id="price"
                name="price"
                required
              />
            </div>

            <div>
                <img
                  class="producto-img"
                  src="/images/<%= product.image %> "
                  width="250px"
                />
            </div>

            <div>
              <label class="properties-label">Cambiar imagen</label>
                <div class="file-select" id="src-file2">
                  <input
                    class="input-file"
                    type="file"
                    accept=".jpg,.png"
                    name="image"
                    id="image"
                    /> 
            </div>

            <nav class="bot">
              <center>
                <input
                  class="button"
                  name="Crear"
                  value="Actualizar"
                  type="submit"
                />
        </form>

        <form
          action="/products/delete/<%= product.id %>?_method=DELETE"
          method="POST">
          <button type="submit"
          class="button">Borrar</button>
      </form>

  </div>
  </center>
    </main>
    
    <%- include('../partials/footer.ejs') %>

  </body>
</html>