<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="\css\products.css" />
    <link rel="stylesheet" href="\css\home.css" />
  </head>
  <body>
    <%- include('../partials/header.ejs') %>
    <main>
      <section>
        <h1 class="title">Todos nuestros productos</h1>
        <div class="products">
          <% products.forEach(products => { %>
          <article class="product">
            <img class="image" src="\images\<%=products.image%>" />
            <div class="product-info">
              <p class="product-detail name"><%=products.name%></p>
              <p class="product-detail"><%=products.brand%></p>
              <p class="product-detail year"><%=products.year%></p>
              <p class="product-detail price">$<%=products.price%></p>
            </div>
            <form
              action="/products/delete/<%= products.id %>?_method=DELETE"
              method="POST"
            >
              <center>
                <button type="submit" class="button">Borrar</button>
              </center>
            </form>
          </article>
          <% }) %>
        </div>
      </section>
    </main>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
