<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="\css\login.css" />
  </head>
  <body>
    <%- include('../partials/header.ejs') %>
    <main>
      <div class="login-container">
        <h2 class="login-titulo">INICIAR SESIÓN</h2>
        <div class="login-navbar">
          <ul class="login-nav">
            <li>
              <a href="/users/login" class="iniciar-sesion"> Iniciar Sesión </a>
            </li>
            <li>
              <a href="/users/register" class="registrarme"> Registrarme </a>
            </li>
          </ul>
        </div>
        <form
          action="/users/login"
          method="post"
          autocomplete="on"
          id="form"
          class="login-form"
        >
          <div class="login-nombreUsuario">
            <input
              type="email"
              class="inputUsuario"
              placeholder="Email"
              autocomplete="username"
              id="email"
              name="email"
            />
            <% if(locals.errors && locals.errors.email){%>
            <p class="msg-error"><%= locals.errors.email.msg %></p>
            <% } %>
          </div>
          <div class="login-contraseña">
            <input
              type="password"
              class="inputPassword"
              placeholder="Contraseña"
              id="password"
              name="password"
            />
            <% if(locals.errors && locals.errors.password){%>
            <p class="msg-error"><%= locals.errors.password.msg %></p>
            <% } %>
          </div>
          <div class="login-recordarme-contraseñaOlvidada">
            <div class="login-recordarme">
              <input
                type="checkbox"
                value="recordarme"
                name="remember"
                id="recordarme"
              />
              <label class="recordarme">Recordarme</label>
            </div>
            <a href="#" class="forget-password">¿Olvidaste tu Contraseña?</a>
          </div>
          <div>

          <% if(locals.errorLogin){ %>
          <p class="msg-error"><%= errorLogin %></p>
          <% } %>
            <ul class="errores"></ul>
        </div>

          <div class="login-buttonIngresar">
            <button type="submit" class="button-ingresar">
              Iniciar Sesión
            </button>
          </div>
        </form>
      </div>
    </main>
    <%- include('../partials/footer.ejs') %>
    <!-- <script type="text/javascript" src="/js/login.js"></script> -->
    <script src="/validations/loginValidation.js"></script>
  </body>
</html>
