<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="\css\creation-edition.css" />
    <link rel="stylesheet" href="\css\home.css" />
  </head>

  <body>
    <%- include('../partials/header.ejs') %>
    <main>
      <center>
      
      <div class="form-container">
        <form
          action="/users/profileEdition?_method=PUT"
          method="POST"
          enctype="multipart/form-data">
        
          <h1 class="profile-title"> Mi perfil </h1>
          <div class="profile-container">
        
    
          <div class="data-container">

            <div class="article-data ">
              <h3 class="user-name"><%= user.nombre %> <%= user.apellido %></h3>
            </div>

            <div>
              <img
                width="150px"
                src="/images/avatars/<%= user.image %> "
                
              />
          </div>
            
          <div class="file-select" id="src-file2">
                <input
                
                  class="input-file"
                  type="file"
                  accept=".jpg,.png"
                  name="image"
                  id="image">
                </input>
          </div>

            <div class="properties-label">
              <label>Nombre</label>
              <input
                  value="<%=user.nombre%>"
                  type="text"
                  class="input-name"
                  id="nombre"
                  name="nombre"
                  required
                />
            </div>

            <div class="properties-label">
              <label>Apellido</label>
              <input
                value="<%= user.apellido %>"
                type="text"
                class="input-general"
                id="apellido"
                name="apellido"
                required
              />
            </div>

            <div class="properties-label">
              <label>Fecha de nacimiento</label>
              <input
                value="<%=user.fechaDeNacimiento%>"
                type="text"
                class="input-general"
                id="fechaDeNacimiento"
                name="fechaDeNacimiento"
                required
              />
            </div>

            <div class="properties-label" >
              <label>Género</label>
              <input
                value="<%=user.genero%>"
                type="text"
                class="input-general"
                id="genero"
                name="genero"
                required
              />
            </div>

            <div class="properties-label">
              <label>Telefono</label>
              <input
                value="<%= user.telefono%>"
                type="text"
                class="input-general"
                id="telefono"
                name="telefono" 
                required
              />
            </div>

            <div class="properties-label">
              <label>Direccion de correo electrónico</label>
              <input
                value="<%= user.email%>"
                type="text"
                class="input-general"
                id="email"
                name="email" 
                required
              />
            </div>

            <div class="properties-label" >
              <label>Categoría</label>
              <select
                type="text"
                class="input-general"
                id="category"
                name="category"
                required
              >
              <% for (let i = 0; i < categories.length; i++) { %>
                <% if (categories[i].id == user.category_id) { %> 
                    <option value="<%= categories[i].id %>" selected> 
                        <%= categories[i].name %>
                    </option>
                <% } else { %> 
                    <option value="<%= categories[i].id %> "> 
                        <%= categories[i].name %>
                    </option>
                <% } %> 
              <% }  %>
              </select>
            </div>
          </div>

            <nav class="bot">
                <input
                  class="button"
                  name="Crear"
                  value="Actualizar"
                  type="submit"
                />
        </form>
        

  </div>
  </center>
    </main>
    
    <%- include('../partials/footer.ejs') %>

  </body>
</html>